<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OrangeCommunity</title>
	<link rel="icon" href="{{ url_for('static',filename='img/logo.ico') }}" type="images/x-ico" />
	<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body class='body-community'>
	<div >
		<img class='pic-community' src='\static\img\community.gif'>
	</div>
	<div class='div-user'>
		<a id='user_status' class='text-info' href="javascript:void(0);"></a>&nbsp
		<a id='index' class='text-info' href="http://127.0.0.1:5000/community">社区首页</a>
		<a id='logout' class='text-info' hidden="hidden" href="javascript:void(0);">注销</a>
		<br>
		<img id='profile_pic' style='height:200px;width:200px' src='{{ url_for('static',filename='img/default.jpg') }}'>
	</div>
	<div class='div-blog'>
		<div class='text-title' position: relative;>
			<h1>Orange Community</h1>
		</div>
		<br>
		<div class='text-font'>
			<h1 id='topic' style="text-align: center;"></h1>
			<br>
			<p id='content' class='content-detail'></p>
			<br>
			<a id='star' href='javascript:void(0);'>收藏此博客</a>
			<br>
			<label id='info' style='float:right'></label>
			<br>
			<br>
			<label style='float:right'><img id='poster_pic' width='50px' height='50px' ><a id='poster' style='font-size: 25px;' href="javascript:void(0);"></a></label>
			<br>
		</div>		
	</div>
	<br>
	<br>
	<div class='div-comment'>
		<label>评论</label>
		<div id='comment'>
		</div>		
		<ul id="page" class="pagination"></ul>
		<br>
		<div>
			<span id='msg'>发表评论</span>
			<textarea id='comment_content' cols="115" rows="5" placeholder="评论不超过500字"></textarea>
		</div>		
		<br>
		<button id='post_comment' class='button-upload'>评论</button>
		<br>
		<br>
	</div>	
	<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/jq-paginator.js') }}"></script>
	<script type="text/javascript">
		var blogid = {{ blogid }};
		var comment;
		var pS=5;
		function localtion_person(id){
			window.open('http://127.0.0.1:5000/community/person_detail?id='+id);
		}
		function show_comment(n){
			if (!comment.length)
				$('#comment').html("<p class='content'>暂无评论</p>");
			else{
				var L=(n-1)*pS, R=n*pS<comment.length?n*pS-1:comment.length-1;
				$('#comment').html('');
				for (var i=L;i<=R;++i){
					var content=comment[i]['content'].replace(/\r\n/g, '<br/>').replace(/\n/g, '<br/>').replace(/\s/g, ' '); 
					var ctime=comment[i]['ctime'];
					var userid=comment[i]['userid'];
					var username=comment[i]['username'];
					if (!comment[i]['profile_pic'])
						comment[i]['profile_pic']='static/img/default.jpg';	
					var profile_pic='\\'+comment[i]['profile_pic'];
					var item="<div class='comment-item'>";
					item+="<p class='text-font'>"+content+"</p>";
					item+="<label style='float:right'>" + "<img height='30px' width='30px' src='" + profile_pic + "'>";
					item+="<a herf='javascript:void(0);' onclick='localtion_person(" + userid + ")'>" + username + "</a>  " + ctime + "</label><br><br>";
					item+="</div><br>";
					$('#comment').append(item);
				}
			}
		}
		function get_comment(){
			$.ajax({
				url:'http://127.0.0.1:5000/community/blog_comment?id='+blogid,
				type:'GET',
				success:function(data){
					comment=data['data'];
					$("#page").jqPaginator({
						totalCounts: comment.length?comment.length:1,
						pageSize:pS,
						visiblePages: 10,
						currentPage: 1,
						first: '<li class="first"><a href="javascript:void(0);">First<\/a><\/li>',
						prev: '<li class="prev"><a href="javascript:void(0);">Previous<\/a><\/li>',
						next: '<li class="next"><a href="javascript:void(0);">Next<\/a><\/li>',
						last: '<li class="last"><a href="javascript:void(0);">Last<\/a><\/li>',
						page: '<li class="page"><a href="javascript:void(0);">{page}<\/a><\/li>',
						onPageChange: function(n) {
							show_comment(n);
						}
      				});					
				},
				error:function(data,ty,err){
					console.log(data);
					console.log(ty);
					console.log(err);
				}
			});

		}
		function star_blog(){
			var data={
				userid:localStorage.getItem('ORGid'),
				blogid:blogid
			};
			$.ajax({
				url:'http://127.0.0.1:5000/community/star',
				type:'POST',
				data:JSON.stringify(data),
				headers:{
					'Content-Type':'application/json',
					'ORGtoken':localStorage.getItem('ORGtoken')
				},
				success:function(data){
					if (data['status']!=2000)
						alert(data['err']);
					else{
						alert('收藏成功');
						window.location.reload(true);
					}
				},
				error:function(data){
					console.log(data);
					alert('收藏失败，请重试');
				}
			});
		}
		function isStar(){
			$.ajax({
				url:'http://127.0.0.1:5000/community/isStar?userid='+localStorage.getItem('ORGid')+'&blogid='+blogid,
				type:'GET',
				success:function(data){
					if (data['data']['result'])
						$('#star').text('已收藏此博客');
					else{
						$('#star').text('收藏此博客');
						$('#star').on('click',function(){
							star_blog();
						});
					}
				},
				error:function(data){
					console.log(data);
					alert('加载失败,请重试');
				}
			});
		}
		function show_blog(){
			$.ajax({
				url:'http://127.0.0.1:5000/community/blog?id='+blogid,
				type:'GET',
				success:function(data){
					data=data['data'];
					var topic=data['topic'];
					var content=data['content'].replace(/\r\n/g, '<br/>').replace(/\n/g, '<br/>').replace(/\s/g, ' ');
					var type=data['type'];
					var college=data['college'];
					var ptime=data['ptime'];
					var username=data['username'];
					var userid=data['userid'];
					if (!data['profile_pic'])
						data['profile_pic']='static/img/default.jpg';					
					var profile_pic='\\'+data['profile_pic'];
					$('#topic').text(topic);
					$('#content').empty();
					$('#content').append(content);
					$('#info').text(college+'  '+type+'  '+ptime);
					$('#poster_pic').attr('src',profile_pic);
					$('#poster').text(username);
					$('#poster').on('click',function(){
						window.open('http://127.0.0.1:5000/community/person_detail?id='+userid);
					});
					isStar();
				},
				error:function(data,ty,err){
					console.log(data);
					console.log(ty);
					console.log(err);
				}
			});
		}
		function show_user(){
			$.ajax({
				url:'http://127.0.0.1:5000/auth/verify',
				type:'POST',
				headers:{
					'Content-Type':'application/json',
					'ORGtoken':localStorage.getItem('ORGtoken')					
				},
				data:JSON.stringify({
					userid:localStorage.getItem('ORGid')
				}),
				success:function(data){
					if (data['status']!=2000){
						$('#user_status').on('click',function(){
							window.location.href='http://127.0.0.1:5000';
						});
						$('#user_status').text('登录');
						$('#logout').hide();
					}
					else{
						$('#user_status').on('click',function(){
							window.location.href='http://127.0.0.1:5000/community/person_detail?id='+localStorage.getItem('ORGid');
						});
						if (!data['data']['profile_pic'])
							data['data']['profile_pic']='static/img/default.jpg';
						$('#user_status').text(data['data']['username']);
						$('#profile_pic').attr('src','/'+data['data']['profile_pic']);
						$('#logout').on('click',function(){
							localStorage.removeItem('ORGid');
							localStorage.removeItem('ORGtoken');
							window.location.reload(true);
						});
						$('#logout').show();
					}
				},
				error:function(data){
					console.log(data);
					$('#user_status').on('click',function(){
						window.location.href='http://127.0.0.1:5000';
					});
					$('#user_status').text('登录');
					$('#logout').hide();
				}
			});
		}
        $(document).ready(function(){
			show_user();
			show_blog();
			get_comment();
			$('#post_comment').on('click',function(){
				var data={
					userid:localStorage.getItem('ORGid'),
					blogid:blogid,
					content:$('#comment_content').val()
				};
				if (!data['content'])
					$('#msg').text('评论不能为空');
				else{
					$.ajax({
						url:'http://127.0.0.1:5000/community/blog_comment',
						type:'POST',
						headers:{
							'Content-Type':'application/json',
							'ORGtoken':localStorage.getItem('ORGtoken')						
						},
						data:JSON.stringify(data),
						success:function(data){
							if (data['status']!=2000)
								alert(data['err']);
							else
								window.location.reload(true);
						},
						error:function(data,ty,err){
							console.log(data);
							alert('发布失败,请重试');
						}
					});
				}
			});
		});

	</script>
</body>

</html>